---
import Layout from "../layouts/Layout.astro";
import { IconChevronLeft } from "@tabler/icons-react";
---

<Layout>
    <main>
        <!-- Hero -->
        <section class="w-full bg-sjsublue px-6 py-16 md:px-12 lg:px-24">
            <div class="mb-6 w-full text-center mt-15">
                <h1 class="text-5xl uppercase text-white font-extrabold drop-shadow-[1.5px_1.5px_0_var(--color-auggold)]">Attend</h1>
                <h2 class="mt-2 text-2xl md:text-3xl font-semibold text-sjsugold">

                </h2>
            </div>
        </section>

        <!--
        <li>Short prep guide and talking points</li>
                            <li>Show up with other students</li>
                            <li>Be visible and be heard</li>
                            -->


        <section class="w-full bg-white px-6 py-16 md:px-12 lg:px-24">
            <!-- Dates coming soon -->
            <div class="max-w-7xl mx-auto">
                <div class="mx-auto max-w-4xl mb-10 text-clipper text-lg">
                    <p>
                        Participating in and providing public comment at SJSU meetings shows the administration that students care about affordable, unlimited transit.
                    </p>
                </div>
                <p class="mx-auto max-w-3xl text-lg text-sjsugold text-center font-bold leading-relaxed mb-5">
                    Dates coming soon
                </p>

                <!-- go back button -->
                <div class="text-center">
                    <a href="/thanks" class=" text-white font-bold inline-block rounded-xl bg-sjsugold px-5 py-3 uppercase tracking-wide shadow-md transition-transform hover:-translate-y-0.5 focus:outline-none focus:ring-4 focus:ring-sjsugold/40">
                        <div class="flex items-center justify-center gap-2">
                            <IconChevronLeft class="w-5 h-5" />
                            Go back
                        </div>
                    </a>
                </div>


        </section>
    </main>
</Layout>
