---
import HeroSectionBaypass from "../components/HeroSectionBaypass";
import EmailYell from "../components/EmailYell.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <HeroSectionBaypass />
    <EmailYell client:load />
  </main>
</Layout>
